aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
aiounittest==1.4.2
altair==4.0.0
appdirs==1.4.4
argh==0.26.2
astor==0.8.1
async-timeout==4.0.2
atomicwrites==1.4.0
audio-processing==0.0.1
audio-recorder-streamlit==0.0.8
backports.weakref==1.0.post1
base58==2.1.1
bitstring==4.0.2
bkcharts==0.2
black==19.10b0
blinker==1.5
boto==2.49.0
brotlipy==0.7.0
cachetools==5.3.1
click==7.1.2
constantly==15.1.0
cssselect==1.1.0
cycler==0.10.0
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
dataclasses-json==0.5.7
dnspython==2.3.0
entrypoints==0.3
et-xmlfile==1.1.0
fonttools==4.25.0
frozenlist==1.3.3
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.31
gmpy2==2.0.8
google==3.0.0
google-auth==2.19.1
grpcio==1.54.2
grpcio-status==1.54.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.14.3
hyperframe==6.0.1
inflection==0.5.1
langchain==0.0.195
langchainplus-sdk==0.0.8
llama-index==0.6.21.post1
llvmlite==0.37.0
locket==0.2.1
loguru==0.7.0
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
mccabe==0.6.1
mdurl==0.1.2
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
multidict==6.0.4
munkres==1.1.4
mypy-extensions==0.4.3
nltk==3.6.5
numexpr==2.8.4
numpy==1.24.3
openai==0.27.8
openapi-schema-pydantic==1.2.4
pandas==1.3.4
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==8.4.0
pinecone-client==2.2.2
pkginfo==1.7.1
ply==3.11
priority==2.0.0
proto-plus==1.22.2
pyarrow==12.0.0
pyasn1-modules==0.2.8
PyAudio==0.2.13
pycosat==0.6.3
pydantic==1.10.2
pydeck==0.8.1b0
PyDispatcher==2.0.5
pydub==0.25.1
Pygments==2.15.1
PyJWT==2.7.0
pyls-spyder==0.4.0
Pympler==1.0.1
pyrtmp==0.2.0
pytest==6.2.4
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
PyYAML==6.0
quart==0.18.4
queuelib==1.5.0
redis==4.5.5
regex==2023.6.3
rich==13.4.1
scikit-image==0.18.3
semver==3.0.0
simplegeneric==0.8.1
smmap==5.0.0
SpeechRecognition==3.10.0
Sphinx==4.2.0
SQLAlchemy==2.0.15
streamlit==1.0.0
streamlit-bokeh-events==0.1.2
tabulate==0.8.9
tenacity==8.2.2
terminado==0.9.4
tiktoken==0.4.0
tqdm==4.65.0
typing-inspect==0.8.0
typing_extensions==4.5.0
tzlocal==5.0.1
unicodecsv==0.14.1
urllib3==1.26.7
validators==0.20.0
webencodings==0.5.1
Werkzeug==2.3.6
wsproto==1.2.0
yarl==1.9.2
zict==2.0.0
zoomus==1.1.6
zope.event==4.5.0

